* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
   background-color: rgb(85, 85, 148);
   color: beige;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 10px;
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.logo{
   font-size: 25px;
   color: bisque;
   text-decoration: none;
   font-weight: 600;
}
.navbar a{
   font-size: 18px;
   color: blanchedalmond;
   text-decoration: none;
   font-weight: 500;
   margin-left: 36px;
   transition: 3 sec;
}
.navbar a:hover{
   color: rgb(216, 151, 12);
}
.home{
   height: 100vh;
   display: flex;
   align-items: center;
   padding: 0px 10px;
}
.home-content{
max-width: 600px;
}
.home-content h1{
   font-size: 56px;
   font-weight: 700;
}
.home-content h3{
   font-size: 31px;
   font-weight: 700;
   color: blue;
   line-height: 1.2;
   }
   .home-content p{
      font-size: 16px;
      margin:20px 0px 40px ;
   }
   .home-content .btn-box{
      display: flex;
      justify-content: space-between;
      width: 300px;
      height: 50px;
   }
   .btn-box a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 150px;height: 100%;
      background-color: rgb(241, 28, 153);
      border: 2px solid rgb(70, 4, 4);
      border-radius: 8px;
      font-size: 19px;
      color: cyan;
      font-weight: 600;
      letter-spacing: 1px;
   }
   .btn-box a:nth-child(1){
      background-color: transparent;
      color: cyan;
   } 
   .btn-box a:nth-child(2){
      background-color: transparent;
      color: cyan;
   }
  